start
    jump main

fiber:
    pushs "Child fiber: "
    writes
    fiber
    writei
    pushs "\n"
    writes

    // Load the parameters
    // pushl -1
    // pushl 0
    // Replace them both with a single number: the result
    add

    // Yield the result (a single value)
    yield 1

    pushi 0
    kill 1

main:
    pushs "Main fiber: "
    writes
    fiber
    writei
    pushs "\n"
    writes

    // Create a fiber
    pusha fiber
    spawn

    // Send the first argument to the fiber
    // We dup the id of the fiber we just created
    dup 1
    pushi 1
    send

    // Send the second argument to the fiber
    // We dup the id of the fiber we just created
    dup 1
    pushi 2
    send

    // Finally we switch the context to the fiber
    dup 1
    run

    // The returned value should be on the top of the stack
    pushs "Yielded "
    writes
    writei
    pushs "\n"
    writes

    // Switch back to the fiber
    dup 1
    run

    // Write the result
    pushs "Returned "
    writes
    writei
    pushs "\n"
    writes

    pushs "Child fiber status: "
    writes
    dup 1
    fiberst
    writei
    pushs "\n"
    writes

    stop